<app-search></app-search>
<ul>
    <li *ngFor="let m of playlist">
        <a routerLink = "/artist/{{m.name}}">
            <div class="content">
                <div class="name">
                    name : {{m.name}}
                </div>
                <div class="creator">
                    creator : {{m.creator}}
                </div>
                <div class="number_tracks">
                    number_tracks : {{m.number_tracks}}
                </div>
                <div class="tracks">
                    tracks : {{m.tracks}}
                </div>
                <div class="playtime">
                    playtime : {{m.playtime}}
                </div>
                <div class="total_review_score">
                    total_review_rating : {{m.total_review_rating}}
                </div>
                <div class="total_review_time">
                    total_review_time : {{m.total_review_time}}
                </div>
                <div class="review_score">
                    review_rating : {{m.review_rating}}
                </div>
                <div class="edit_date">
                    edit_date : {{m.edit_date}}
                </div>
            </div>
        </a>
    </li>
</ul>
