<h1>Users</h1>
<table class="admin">
    <tr>
      <th>UserName</th>
      <th>Active</th>
      <th>Permissions</th>
    </tr>
    <tr *ngFor="let item of getUser">
      <td>{{item.username}}</td>
      <td *ngIf="item.isActive == true"><button>Disabled</button></td>
      <td *ngIf="item.isActive == false"><button>Enable</button></td>
      <td *ngIf="item.isAdmin == false"><button>Permissions</button></td>
    </tr>
  </table>
<h1>Review</h1>
  <table class="review">
    <tr>
      <th>Creator</th>
      <th>Content</th>
      <th>Enable</th>
    </tr>
    <tr *ngFor="let item of getReview">
      <td>{{item.creator}}</td>
      <td>{{item.content}}</td>
      <td><button>Enable</button></td>
    </tr>
  </table>