<div>
    <h1>DMCA Takedown Process</h1>
    <ul>
        <li>1. Click admin button under username to access admin page.</li>
        <li>2. Your can hidden any violation review or ban account in this page.</li>
        <li>3. Go <a href="https://www.dmca.com/signup/createtakedown.aspx?mpi=DMCA-FRE&r=hpmsb" target="_blank">here.</a></li>
        <li>4. Fill and submit takedown form.</li>
    </ul>
</div>

<h1>Policy Creation/Update</h1>
<h3>Security Policy</h3>
<textarea #sec class="security_policy" id="security_policy"></textarea>
<button (click)="sec_submit(sec.value)">submit</button>

<h3>AUP Policy</h3>
<textarea #aup class="aup_policy" id="aup_policy"></textarea>
<button (click)="aup_submit(aup.value)">submit</button>

<h3>DMCA Policy</h3>
<textarea #dmca class="dmca_policy" id="dmca_policy"></textarea>
<button (click)="dmca_submit(dmca.value)">submit</button>
