
<header>
    <div class="container">
        <a routerLink="/" class="logo"> MUSIC </a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login" *ngIf="isLogin == false">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard" *ngIf="userNanme">{{userNanme}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/admin" *ngIf="isAdmin">Admin</a>
                        <a>LogOut</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/favorites-page" *ngIf="isLogin == true">
                        Favorite <span *ngIf="favoritesQuantity">{{favoritesQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
