<div class="content">
    <ul>
        <li *ngFor="let item of music">
            <div class="musicTrackId">
                {{item.tracks}}
            </div>
            <div class="musicName">
                {{item.name}}
            </div>
            <div class="address">
                <a href="{{item.address}}">{{item.address}}</a>
            </div>
            <div>
                <select #listSelect>
                    <option *ngFor="let index of length">{{index}}</option>
                </select>
            </div>
            <div class="add-button">
                <button (click) = "addMusicToList(item,listSelect.value)">Add to Favorite</button>
            </div>
        </li>
    </ul>
    <button (click) = "addToFavorites()">Add whole to favorite</button>
</div>
