<div class="container">
    <div class="details">
        <app-title title="Change Password"></app-title>

        <form (ngSubmit) = "submit()">
            <div class="input-container">
                <label>Old Password</label>
                <div>
                    <input type="password" placeholder="Old Password" />
                </div>
            </div>

            <div class="input-container">
                <label>New Password</label>
                <div>
                    <input type="password" placeholder="New Password"/>
                </div>
            </div>
            <div class="button">
                <button type="submit">Change Password</button>
            </div>
        </form>
    </div>
</div>
