<div class="container">
    <div class="details">
        <h1>Change Password</h1>
        <form >
            <div class="input-container">
                <label>New Password</label>
                <div>
                    <input #password type="password" placeholder="New Password"/>
                </div>
            </div>
            <div class="button">
                <button (click)="changePassword(password.value, $event)">Change Password</button>
            </div>
        </form>
    </div>
</div>
