<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="container">
    <ul>
        <li *ngFor="let item of music">
            <div class="musicName">
                {{item.track_title}}
                <a href="{{item.track_url}}"><span class="material-symbols-outlined">
                    play_circle
                    </span></a>
            </div>
            <div>
                <select #listSelect>
                    <option *ngFor="let item of length">{{item}}</option>
                </select>
            </div>
            <div class="add-button">
                <button (click) = "addToFavorites(item,listSelect.value)">Add to Favorite</button>
            </div>
        </li>
    </ul>  
</div>
