<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<app-search></app-search>
<div class="container">
    <ul>
        <li *ngFor="let item of music">
            <div class="musicName">
                {{item.track_title}}
                <select class="addlist" #listSelect>
                    <option *ngFor="let item of favName">{{item}}</option>
                </select>
            </div>
            <div class="musicName">
                <a id="try-play" href="{{item.track_url}}" target="_blank">
                    <span class="material-symbols-outlined">
                        play_circle
                    </span>
                </a>
                <div class="add-button">
                    <button (click) = "addToFav(item.track_id,listSelect.value)">Add to Favorite</button>
                </div>
            </div>
            <div class="banner-sec">
                <a class="banner" href="{{item.track_url}}" target="_blank"><img src="{{item.track_banner}}"></a>
            </div>
        </li>
    </ul>
</div>
