span{
    font-size: 1.8rem;
}

.musicName{
    font-size: 1.3rem;
    position: relative;
    justify-content: center;
    flex-direction: row;
}

.container{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 2.5rem;
}

ul{
    position: relative;
    margin: 0 auto;
    width: 1200px;
}

li {
    margin-bottom: 15px;
    border-bottom:1px solid #FFB6C1;
}

.musicName{
    display: inline-block;
    width:100%;
    height:50px;
}

.banner-sec{
    width:100%;
    height: 0px;
    margin: 10px;
}

.banner{
    margin: 0 auto;
}

.addlist {
    float:right;
    margin-right: 10px;
}

.add-button {
    display:block;
    float:right;
}

button{
    background-color: #e72929;
    color: white;
    font-size: 1.3rem;
    width: 300px;
    height: 1.5rem;
    border: none;
    outline: none;
    font-weight: 100;
    border-radius: 0.8rem;
    margin: 0.5rem auto;
    opacity: 0.8;
}

.menu{
    position: absolute;
    z-index: 1;
    background: white;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 0;
    left:12px;
    width: 101%;
    z-index: 1;
    transition: height 0.2s;
    border: #FFB6C1 solid 1px;
    font-size: medium;
}

#try-play {
    z-index: 0;
}

li:hover .menu{
    z-index: 9999;
    height: 230px;
    cursor: pointer;
}

.menu p{
    margin-left: 22px;
    width: 100%;
    min-width: 8rem;
}
