<app-title title="Favorites Page" margin="1.5rem 0 0 2,5rem"></app-title>

<!-- <div class="container">
    <button class="addFavoritesList" (click) = "addEmptyList()">AddList</button>
    <ul>
        <li *ngFor="let item of favorites.artists">
            <a routerLink = "/artist/{{item.music.name}}">
                <div class="content">
                    <div class="name">
                        name : {{item.music.name}}
                    </div>
                    <div class="creator">
                        creator : {{item.music.creator}}
                    </div>
                    <div class="number_tracks">
                        number_tracks : {{item.music.number_tracks}}
                    </div>
                    <div class="tracks">
                        tracks : {{item.music.tracks}}
                    </div>
                    <div class="playtime">
                        playtime : {{item.music.playtime}}
                    </div>
                    <div class="total_review_score">
                        total_review_score : {{item.music.total_review_rating}}
                    </div>
                    <div class="total_review_time">
                        total_review_time : {{item.music.total_review_time}}
                    </div>
                    <div class="review_score">
                        review_score : {{item.music.review_rating}}
                    </div>
                    <div class="edit_date">
                        edit_date : {{item.music.edit_date}}
                    </div>
                </div>
            </a>
            <div>
                <button class="remove-button" (click) = "removeFromFavorites(item)">
                    Remove
                </button>
            </div>
        </li>
    </ul>
  </div> -->

    <div class="input-container">
      <input type="text" id="listName" placeholder="input the list name" title="input the list name">
      <input type="text" id="Description" placeholder="add description" title="add description">
      <button class="addFavoritesList" (click) = "addNewList()">AddNewList</button>


      <ul>
        <li *ngFor="let item of favorites.artists">
            <a routerLink = "/artist/{{item.music.name}}">
                <div class="content">
                    <div class="name">
                        name : {{item.music.name}}
                    </div>
                    <div class="creator">
                        creator : {{item.music.creator}}
                    </div>
                    <div class="number_tracks">
                        number_tracks : {{item.music.number_tracks}}
                    </div>
                    <div class="tracks">
                        tracks : {{item.music.tracks}}
                    </div>
                    <div class="playtime">
                        playtime : {{item.music.playtime}}
                    </div>
                    <div class="total_review_score">
                        total_review_score : {{item.music.total_review_rating}}
                    </div>
                    <div class="total_review_time">
                        total_review_time : {{item.music.total_review_time}}
                    </div>
                    <div class="review_score">
                        review_score : {{item.music.review_rating}}
                    </div>
                    <div class="edit_date">
                        edit_date : {{item.music.edit_date}}
                    </div>
                    <div class="description">
                      description : {{item.music.description}}
                  </div>


                  <!-- <div class="input-container">
                    <input #edit type="text"  placeholder="edit description" title="edit description">
                    <button class="remove-button" (click) = "editDescription(item, edit.value)">edit description</button>
                  </div>
                  <div>
                    <label for="lang">public or not</label>
                      <select #TorF name="languages" id="lang">
                        <option value="TRUE">TRUE</option>
                        <option value="FALSE">FALSE</option>
                      </select>
                      <input class="remove-button" type="submit" value="Submit" (click) = "publicOrNot(item, TorF.value)"/> -->
                     <!-- <button class="remove-button" (click) = "removeFromFavorites(item)">public or not</button> -->
                  <!-- </div> -->
                </div>
            </a>



            <ul>
              <li *ngFor="let item of favorites.artists">
                <li *ngFor="let element of item.music.tracks">

            <a routerLink = "/artist/{{item.music.name}}">
                <div class="tracks">
                  tracks : {{element}}
                </div>

                <!-- create table -->
              </a>
            </li>
          </ul>




            <ul>
              <li>
            <div>
                <button class="remove-button" (click) = "removeFromFavorites(item)">Remove</button>
            </div>
            <div class="input-container">
              <input #edit type="text"  placeholder="edit description" title="edit description">
              <button class="remove-button" (click) = "editDescription(item, edit.value)">edit description</button>
            </div>
            <div>
              <label for="lang">public or not</label>
                <select #TorF name="languages" id="lang">
                  <option value="TRUE">TRUE</option>
                  <option value="FALSE">FALSE</option>
                </select>
                <input class="remove-button" type="submit" value="Submit" (click) = "publicOrNot(item, TorF.value)"/>
               <!-- <button class="remove-button" (click) = "removeFromFavorites(item)">public or not</button> -->
            </div>
            <div>
              <button class="remove-button" (click) = "deleteTrack(item)">delete track</button>
            </div>

            </li>
            </ul>
             </li>
             </ul>

    </div>



