@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

*{box-sizing: border-box;}
html {
    font-size: 17px;
}

html, button {
    font-family: "Audiowide", sans-serif;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

a, p {
    text-decoration: none;
}